<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Blog</title>
    <%= favicon_link_tag 'icon.png' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Back to top button -->
    <button onclick="topFunction()" class="btn btn-info btn-lg" id="myBtn" title="Back to Top" align="center">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>

    <div id="wrapper">
      <!-- Navigation bar -->
      <%= render 'layouts/navigation' %>

      <!-- Header -->
      <%=render "layouts/header" %>

      <div class="container">
        <!-- Error messages -->
        <%= render 'layouts/messages', class: "messages" %>
        <%= yield %>
      </div>

      <!-- Footer -->
      <%= render 'layouts/footer' %>
    </div>


    <!-- Debugger -->
    <!-- <%= debug(params) if Rails.env.development? %> -->

  </body>
</html>
